.addtocart-wrapper {
    margin-top: 2rem;
}

.addtocart-wrapper .colors {
    display: grid;
    grid-template-columns: 125px 1fr;
    align-items: center;
    margin-bottom: 1rem;
}

.addtocart-wrapper .colors span {
    text-transform: capitalize;
    font-weight: 700;
}

.addtocart-wrapper .colors div {
    display: flex;
}

.addtocart-wrapper .color-btn {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #222;
    margin-right: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addtocart-wrapper .color-btn.active {
    opacity: 1;
}