.slider {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-top: 2rem;
}

.slides {
    overflow: hidden;
    position: relative;
    height: 400px;
}

.slide {
    min-width: 100%;
    height: inherit;
    position: absolute;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.slide img {
    display: block;
    height: 400px;
    object-fit: contain;
    border-radius: 6px;
    margin: auto;
}

.activeSlide {
    opacity: 1;
    transform: translateX(0);
}

.nextSlide {
    transform: translateX(100%);
}

.lastSlide {
    transform: translateX(-100%);
}

.slider-txt {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Codystar";
    font-size: 4rem;
    background-color: rgba(239, 129, 82, 0.568);
    color: var(--clr-white);
    border-radius: 6px;
}