.nav {
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    background: var(--clr-primary);
    transition: var(--transition);
    z-index: 100;
}

.nav-center {
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav a {
    color: var(--clr-cta);
}

:is(.nav h1) {
    margin-bottom: 0;
}

.shop-name {
    font-family: "Codystar";
}

.nav-links {
    display: none;
}

.nav-toggle {
    background: transparent;
    border: transparent;
    color: var(--clr-white);
    cursor: pointer;
}

.scrolled {
    box-shadow: 0 0 0 1px var(--clr-additional);
}


@media (min-width: 992px) {
    .nav-toggle {
        display: none;
    }

    .nav-center {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
    }

    .nav-links {
        display: flex;
        justify-content: center;
    }

    .nav-links li {
        margin: 0 0.5rem;
    }

    .nav-links a {
        color: var(--clr-cta);
        font-size: 1rem;
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        padding: 0.5rem;
    }

    .nav-links a:hover {
        border-bottom: 2px solid var(--clr-additional);
    }
}