.filters-wrapper .form-control {
    margin-bottom: 1.25rem;
}

.filters-wrapper h5 {
    margin-bottom: 0.5rem;
}

.filters-wrapper .search-input {
    padding: 0.5rem;
    background: #eee;
    border-radius: var(--radius);
    border-color: transparent;
    letter-spacing: var(--spacing);
}

.filters-wrapper .search-input::placeholder {
    text-transform: capitalize;
}

.filters-wrapper button {
    display: block;
    margin: 0.25em 0;
    padding: 0.25rem 0;
    text-transform: capitalize;
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    letter-spacing: var(--spacing);
    color: var(--clr-cta);
    cursor: pointer;
}

.filters-wrapper .active {
    border-color: #eee;
    opacity: 1;
}

.filters-wrapper .company {
    background: #eee;
    border-radius: var(--radius);
    border-color: transparent;
    padding: 0.25rem;
}

.filters-wrapper .colors {
    display: flex;
    align-items: center;
}

.filters-wrapper .color-btn {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #222;
    margin-right: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters-wrapper .all-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    opacity: 0.5;
}

.filters-wrapper .all-btn .active {
    text-decoration: underline;
}

.filters-wrapper .price {
    margin-bottom: 0.25rem;
}

.filters-wrapper .shipping {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    text-transform: capitalize;
    column-gap: 0.5rem;
    font-size: 1rem;
}

.filters-wrapper .clear-btn {
    background: tomato;
    color: var(--clr-white);
    padding: 0.25rem 0.5rem;
    border-radius: var(--radius);
}

@media (min-width: 768px) {
    .content {
        position: sticky;
        top: calc(var(--nav-height) + 1rem);
    }
}